.selected {
    background-color: #91c9ff;
}

tr.border_bottom td {
    border-bottom:1pt solid black;
}

.faded {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.faded.ng-hide {
    opacity:0;
}