<body ng-app="todoapp" ng-controller="TodoController">
<div class="container col-lg-8 center">
    <div id="user-form" class="row">
        <div>
            <form>
                <div>
                    <input type="text" class="col-lg-8 input-sm text-center" placeholder="Todo" ng-model="todo.text">
                    <textarea rows="4" cols="50" type="text"
                              class="col-lg-8 input-sm text-center" placeholder="Todo details" ng-model="todo.text"/>
                    <button type="submit" class="btn btn-primary btn-sm" ng-click="saveTodo()">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
